{% extends "layout.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block contenu %}
	<h1>Inscrivez-vous ici</h1>
	{{ form_start(form) }}
	{{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'votre nom d\'utilisateur ici...'}}) }}
	{{ form_row(form.email, {'attr': {'placeholder': 'votre mail ici...'}}) }}
	{{ form_row(form.adresse, {'attr': {'placeholder': 'votre adresse ici...'}}) }}
	{{ form_row(form.codePostal, {'attr': {'placeholder': 'votre code postal ici...'}}) }}
	{{ form_row(form.ville, {'attr': {'placeholder': 'votre ville ici...'}}) }}
	{{ form_row(form.password, {'label': 'mot de passe', 'attr': {'placeholder': 'votre mot de passe ici...'}}) }}
	{{ form_row(form.confirmPassword, {'label': 'mot de passe','attr': {'placeholder': 'confirmez votre mot de passe...'}}) }}
	<button type="submit" class="btn btn-success">Inscription</button>
	{{ form_end(form) }}
{% endblock %}