{% extends "layout.html.twig" %}

{% form_theme formAddToCart 'bootstrap_4_layout.html.twig' %}
{% form_theme formAvis 'bootstrap_4_layout.html.twig' %}

{% block title %} Fiche {% endblock %}

{% block contenu %}

	<div class="row">

        <div class="col-lg-9">

          <div class="card mt-4">
            
            <div class="card-body">
              <h3 class="card-title">{{ infolivre.titre }}</h3>
              <h6 class="card-subtitle mb-2 text-muted">{{ infolivre.auteur.PrenomAuteur }} {{ infolivre.auteur.NomAuteur }} <a href=" {{ path('front_bio', { 'id': infolivre.auteur.id }) }} ">(voir sa biographie)</a></h6>
              <h4>{{ infolivre.PrixTtc|number_format(2, ',', ' ') }} €</h4>
              <h5 class="card-title">Résumé</h5>
              <p class="card-text">{{ infolivre.resume }}</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              <p>4.0 stars</p>
              {% if in_panier %}
                <a href="#" class="btn btn-info">Ce livre est déjà dans votre panier</a>
              {% else %}
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    {{ form_start(formAddToCart) }}
                    {{ form_row(formAddToCart.qte) }}
                  </div>
                  <div class="col-lg-3 align-self-end">
                    {{ form_end(formAddToCart) }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Avis des lecteurs
            </div>
            <div class="card-body">

                {% if liste_avis|length > 0 %}
                    {% for avis in liste_avis %}
                      <p>{{ avis.commentaire }}</p>
                      <small class="text-muted">Posté par {{ avis.user }} le {{ avis.dateavis|date("d/m/Y") }}</small>
                      <hr>
                    {% endfor %}
                {% else %}
                    <p>Aucun avis posté pour ce livre. Soyez le premier !</p>
                {% endif %}

                {% if not app.user %}
                    <a href="{{ path('security_login') }}" class="btn btn-success btn-sm">Connectez-vous pour déposer un avis.</a>
                {% else %}
                    <a id="boutonAvis" href="javascript:visibilite();" class="btn btn-success btn-sm">Avis</a>
                    <div id="deposerAvis" style="display:none;">
                        {{ form_start(formAvis) }}
                        {{ form_row(formAvis.commentaire, {'label': 'Votre commentaire'}) }}
                        {{ form_row(formAvis.note, {'label': 'Une note de 1 à 5 (5 étant la meilleure)'}) }}
                        <button type="submit" class="btn btn-success btn-sm">Envoyez votre avis</button>
                        {{ form_end(formAvis) }}
                    </div>
                {% endif %}

            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

        <div class="col-lg-3">
        	<div class="card-body">
        		<img class="card-img-top img-fluid" src="{{ asset('images/livres/' ~ infolivre.image ~'') }}" alt="{{ infolivre.titre }}">
        	</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Catégorie : {{ infolivre.categorie }} </h6>
              <h6 class="card-subtitle mb-2 text-muted">Editeur : {{ infolivre.editeur }} </h6>
              <h6 class="card-subtitle mb-2 text-muted">Date de parution : {{ infolivre.dateParution|date("d/m/Y", "Europe/Paris") }} </h6>
              <h6 class="card-subtitle mb-2 text-muted">Nombre de pages : {{ infolivre.nbPages }} </h6>
              <h6 class="card-subtitle mb-2 text-muted">ISBN : {{ infolivre.isbn }} </h6>
            </div>
        </div>
        <!-- /.col-lg-3 -->
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var divboutonAvis=document.getElementById('boutonAvis');
        var divdeposerAvis=document.getElementById('deposerAvis');
        function visibilite()
        {
            divboutonAvis.style.display='none';
            divdeposerAvis.style.display='';
        }
    </script>

{% endblock %}