{% extends "layout.html.twig" %}

{% form_theme formAddToCart 'bootstrap_4_layout.html.twig' %}

{% block title %} Fiche {% endblock %}

{% block contenu %}

	<div class="row">

        <div class="col-lg-9">

          <div class="card mt-4">
            
            <div class="card-body">
              <h3 class="card-title">{{ infolivre.titre }}</h3>
              <h6 class="card-subtitle mb-2 text-muted">{{ infolivre.auteur.PrenomAuteur }} {{ infolivre.auteur.NomAuteur }} <a href=" {{ path('front_bio', { 'id': infolivre.auteur.id }) }} ">(voir sa biographie)</a></h6>
              <h4>{{ infolivre.PrixHt|number_format(2, ',', ' ') }} €</h4>
              <h5 class="card-title">Résumé</h5>
              <p class="card-text">{{ infolivre.resume }}</p>
              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
              <p>4.0 stars</p>
              <h6 class="card-subtitle mb-2 text-muted">Editeur : {{ infolivre.editeur }} </h6>
              <h6 class="card-subtitle mb-2 text-muted">Date de parution : {{ infolivre.dateParution|date("d/m/Y", "Europe/Paris") }} </h6>
              <h6 class="card-subtitle mb-2 text-muted">Nombre de pages : {{ infolivre.nbPages }} </h6>
              <h6 class="card-subtitle mb-2 text-muted">ISBN : {{ infolivre.isbn }} </h6>
              <h6 class="card-subtitle mb-2 text-muted">Catégorie : {{ infolivre.categorie }} </h6>
              {% if in_panier %}
                <a href="#" class="btn btn-info">Ce livre est déjà dans votre panier</a>
              {% else %}
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4">
                    {{ form_start(formAddToCart) }}
                    {{ form_row(formAddToCart.qte) }}
                  </div>
                  <div class="col-lg-3 align-self-end">
                    {{ form_end(formAddToCart) }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Avis des lecteurs
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-success">Votre avis</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

        <div class="col-lg-3">
        	<div class="card-body">
        		<img class="card-img-top img-fluid" src="{{ asset('images/livres/' ~ infolivre.image ~'') }}" alt="{{ infolivre.titre }}">
        	</div>
          <h1 class="my-4">Shop Name</h1>
          <div class="list-group">
            <a href="#" class="list-group-item active">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->
    </div>

{% endblock %}