{% extends "layout.html.twig" %}

{% block title %} Panier {% endblock %}

{% block contenu %}


    {% if not app.session.get('contenu_panier') %}
    <h2 class="text-muted">Votre panier est vide.</h2>
    {% else %}
        <h2 class="text-muted">Votre panier</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Titre</th>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center">Quantité</th>
                    <th scope="col" class="text-center">Prix HT</th>
                    <th scope="col" class="text-center">Prix Total HT</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles_panier %}
                <tr>
                    <td class="text-left">{{ article.titre }}</td>
                    <td class="text-center"><img class="img-fluid rounded" src="{{ asset('images/livres/' ~ article.image ~ '') }}" alt="{{ article.titre }}" height="85" width="50"></td>
                    <td class="text-center">{{ article.qte }}</td>
                    <td class="text-center">{{ article.prixHt|number_format(2, ',', ' ') }} €</td>
                    <td class="text-center">{{ article.prix_total_ht|number_format(2, ',', ' ') }} €</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right">Prix total HT</td>
                    <td> </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right">TVA</td>
                    <td> </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right">Prix total TTC</td>
                    <td> </td>
                </tr>
            </tfoot>
        </table>
    {% endif %}

{% endblock %}