{% extends "layout.html.twig" %}

{% form_theme formEraseCart 'bootstrap_4_layout.html.twig' %}

{% block title %} Panier {% endblock %}

{% block contenu %}


    {% if not app.session.get('contenu_panier') %}
    <h2 class="text-muted">Votre panier est vide.</h2>
    {% else %}
        <h2 class="text-muted">Votre panier</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Titre</th>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center">Quantité</th>
                    <th scope="col" class="text-right">Prix unitaire</th>
                    <th scope="col" class="text-right">Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles_panier %}
                <tr>
                    <td class="text-left align-middle">{{ article.titre }}</td>
                    <td class="text-center"><img class="img-fluid rounded" src="{{ asset('images/livres/' ~ article.image ~ '') }}" alt="{{ article.titre }}" height="85" width="50"></td>
                    <td class="text-center align-middle">
                        <a href="{{ path('front_decrementartpanier', {'id': article.id}) }}"><button type="button" class="btn btn-secondary btn-sm">-</button></a>
                        {{ article.qte }}
                        <a href="{{ path('front_incrementartpanier', {'id': article.id}) }}"><button type="button" class="btn btn-info btn-sm">+</button></a>
                    </td>
                    <td class="text-right align-middle">{{ article.prixttc|number_format(2, ',', ' ') }} €</td>
                    <td class="text-right align-middle">{{ article.prix_total_ttc|number_format(2, ',', ' ') }} €</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right">Prix total HT</td>
                    <td class="text-right">{{ prix_total_ht_panier|number_format(2, ',', ' ') }} €</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right">TVA</td>
                    <td class="text-right">{{ tva|number_format(2, ',', ' ') }} €</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right">Prix total TTC</td>
                    <td class="text-right">{{ prix_total_ttc_panier|number_format(2, ',', ' ') }} €</td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_start(formEraseCart) }}
                {{ form_end(formEraseCart) }}
            </div>
        </div>
    {% endif %}

{% endblock %}