{% extends "base.html.twig" %}

{% block body %}

    <header class="container">
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-warning">
            <a class="navbar-brand" href= {{ path('front_home') }}>
                <img class="logo"
                     src="{{ asset('images/logo.jpg') }}" height="90"
                     alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item active">
                        <h3><a class="nav-link" href= {{ path('front_home') }}>ExLibris</a></h3>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href= {{ path('front_catalog') }}>Catalogue</a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item active">
                            <a class="nav-link" href= {{ path('security_registration') }}>Inscription</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href= {{ path('security_login') }}>Connexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href= {{ path('front_espaceclient', {'id': app.user.id}) }}>Espace client ({{ app.user.username }}
                                )</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href= {{ path('security_logout') }}>Déconnexion</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item active">
                            <a class="nav-link" href= {{ path('admin') }} target="_blank">Espace d'Administration</a>
                        </li>
                    {% endif %}

                    {% if app.session.get('contenu_panier') %}
                        <li class="nav-item active">
                            <strong><a class="nav-link" href= {{ path('front_panier') }}>
                                    Panier : {% if app.session.get('contenu_panier')|length < 2 %}
                                        {{ app.session.get('contenu_panier')|length }} article
                                    {% else %}
                                        {{ app.session.get('contenu_panier')|length }} articles
                                    {% endif %}
                                </a></strong>
                        </li>
                    {% else %}
                        <li class="nav-item active">
                            <strong><a class="nav-link" href= {{ path('front_panier') }}>Votre panier est
                                    vide</a></strong>
                        </li>
                    {% endif %}


                </ul>
                    {{ form_start(formSearch, {'attr': {'class': 'form-inline mt-2 mt-md-0'}}) }}
                    {{ form_row(formSearch.search, {'attr': {'class': 'form-control mr-sm-2'}}) }}
                    <input type="submit" class="btn my-2 my-sm-0" value= "Rechercher">
                    {{ form_end(formSearch) }}
            </div>
        </nav>
    </header>

    <main class="container">
        {% block contenu %}

        {% endblock %}
    </main>


    <footer class="footer-container">
        <div class="row align-items-center justify-content-center">
            <a class="text-muted pb-4 pr-4" href= {{ path('front_home') }}>Copyright &copy; ExLibris 2018</a>
            <a class="text-muted pb-4 pr-4" href= {{ path('front_contact') }}>Contact</a>
            <a class="text-muted pb-4 pr-4" href= {{ path('front_mentions') }}>Mentions légales</a>
            <a class="text-muted pb-4" href= {{ path('front_cgv') }}>CGV</a>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}